//////////////////////////////////////////////////////////////////////////////////////////
// CHAT INPUT STYLING

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(221,221,221);
  z-index: 1000000;
  margin-bottom: calc-em(20px);
  overflow-x: scroll;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
  // background-color: rgb(221,221,221);
  z-index: 1;
}

.chat-input {
  @extend .flex-row;
  justify-content: space-between;
  align-items: stretch;
  height: calc-em(50px);
  width:100%;
  border-top: 1px solid $color-grey3;
  background-color:$color-white;
}

.chat-input--middle {
  flex: 1 1 auto;
  padding: 0 calc-em(20px);
  @extend .flex-row;
}

//////////////////////////////////////////////////////////////////////////////////////////
// TEXT INPUT STYLING

.chat-input--middle textarea {
  font-family: $font-family-alt;
  width:100%;
  resize: none;
  background-color: transparent;
  border:none;
  height: calc-em(20px);
  padding: 0;
  color: $color-grey8;
  line-height: 1;
  font-size: calc-em(15px);
  @include r_max($break-tablet-s) {
    font-size: calc-em(16px);
  }
  &::-webkit-input-placeholder {
    color:$color-grey5;
  }
}

//////////////////////////////////////////////////////////////////////////////////////////
// CHAT BUTTONS

.chat-input--right {
  @extend .flex-row;
  padding: calc-em(10px) calc-em(10px);
}

.chat-btn {
  @extend .flex-center;
  width: calc-em(44px);
  height: calc-em(50px);
  position: relative;
  padding: 0;
  transition: all 200ms ease;
}

.gif-btn {
  cursor:pointer;
  background-size: calc-em(24px) calc-em(18px);
  background-image: url('./assets/img/icGif@2x.png');
  background-repeat:no-repeat;
  background-position:center;
}

.media-upload-container {
  cursor:pointer;
  background-size: calc-em(20px) calc-em(18px);
  background-image: url('./assets/img/icUpload@2x.png');
  background-repeat:no-repeat;
  background-position:center;
  &.typing {
    transform: translateX(calc-em(100px));
  }
}

.send-btn {
  cursor:pointer;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: all 200ms ease;
  top: 0;
  bottom: 0;
  padding: 0 calc-em(15px);
  display: flex;
  span {
    margin: auto;
    color: #FC5287;
    font-weight: 700;
  }
}
