//////////////////////////////////////////////////////////////////////////////////////////
// CHAT LAYOUT

.chat {
  @extend .flex-column;
  width:100vw;
  height:100vh;
  position: relative;
  background-color: $color-white;
}

.chat-upper {
  width:100%;
  flex:  1 1 auto;
  position:relative;
  transition: all 333ms ease;
}

.chat-lower {
  position:relative;
  width:100%;
  flex: 0 0 auto;
  transition: all 333ms ease;
  height: calc-em(50px);
}

.chat-users {
  position:fixed;
  top:10%;
  height:80%;
  display:block;
  width:60px;
  right:0;
  background-color:red;
}